extends layout

block content 
  .max-w-md.mx-auto.mt-10
    // Group Name
    .group-name-container.text-center.py-4.mb-6
      h2.text-4xl.font-bold.text-white.inline-block.py-2.px-4.bg-gradient-to-r.from-purple-500.to-indigo-600.rounded-lg.shadow-lg
        = group.name
      if admin
       .p-10
         a(href=`/groups/${group.id}/update` class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded") Update Group
    if !added
      // Button to join the group and open the modal
      button(type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-6" onclick="toggleModal()") Join the group
      
    .messages
      each message in messages
        if message.author_id.toString() === currentUser.id.toString()
          // Sent messages
          .message.flex.justify-end.mb-2
            .message-bubble.bg-green-500.text-white.p-2.rounded-lg.max-w-xs
              .message-content= message.message
              .message-timestamp.text-xs.mt-1.text-right.text-gray-300= message.created_at
            if admin
              // Delete button for admin
              form(action=`/message/${message.id}/delete` method="POST" class="ml-2")
                button(type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline") Delete
        else
          .message.flex.justify-start.mb-2
            .message-bubble.bg-white.text-gray-800.p-2.rounded-lg.max-w-xs.shadow
              if added
                .message-sender.font-bold= message.user_first_name
              .message-content= message.message
              if added
                .message-timestamp.text-xs.mt-1.text-left.text-gray-500= message.created_at
            if admin
              // Delete button for admin
              form(action=`/message/${message.id}/delete` method="POST" class="ml-2")
                button(type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline") Delete

    // Message Typing Box
    .message-typing-box.fixed.bottom-0.left-0.right-0.bg-white.shadow-md.p-4
      form(action=`/message/sendMessage/${group.id}` method="POST" class="flex items-center")
        input#message(type="text" name="message" placeholder="Type a message" required class="flex-grow border rounded px-4 py-2 mr-2 focus:outline-none focus:shadow-outline")
        button(type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") Send

    // Modal for Secret Key
    .modal.hidden.fixed.top-0.left-0.w-full.h-full.bg-gray-900.bg-opacity-75.flex.items-center.justify-center.z-50
      .modal-content.bg-white.p-6.rounded-lg.shadow-lg
        h2.text-xl.font-bold.mb-4 Enter Secret Key
        form(action=`/groups/${group.id}/verifySecretKey` method="POST")
          input(type="hidden" name="groupId" value=`${group.id}`)
          .mb-4
            label(for="secretKey" class="block text-gray-700.text-sm.font-bold.mb-2") Secret Key
            input#secretKey(type="text" name="secretKey" placeholder="Enter the secret key" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")
          .flex.justify-end
            button(type="button" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mr-2" onclick="toggleModal()") Cancel
            button(type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded") Submit

  // JavaScript to toggle the modal visibility
  script.
    function toggleModal() {
      document.querySelector('.modal').classList.toggle('hidden');
    }
